@font-face {
  font-family: "recoletaRegular";
  src: url("/fonts/Recoleta/Recoleta Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "recoletaMedium";
  src: url("/fonts/Recoleta/Recoleta Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "recoletaSemibold";
  src: url("/fonts/Recoleta/Recoleta SemiBold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "recoletaBold";
  src: url("/fonts/Recoleta/Recoleta Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
